.monthTitle{
    font-size:2em;
    width:368px;
    height:2em;
    background-color:#DDD;
    text-align:center;
}
.emptyday{
    padding:10px;
    border:1px;
    margin:8px 25px 8px 9px;
    color:#EEE;
    float:left;
}
.daysel{
    background-color:#0066cc;
    color:#FFF;
    font-size:1em;
    font-family:monospace;
    padding:4px 10px 4px 10px;
    border:1px solid #CBB;
    margin:7px 12px 7px 0px;
    float:left;
}
.day {
    font-size:0.9em;
    font-family:monospace;
    padding:10px;
    background-color:#EDD;
    color:#000;
    border:1px solid #CBB;
    margin:8px 15px 8px 0px;
    float:left;
    cursor:pointer;
}
.day:hover{
    background-color:#DCC;        
}

.day_gray{
    background-color:#AAA;
    color:#FFF;
    cursor:default;
}
.day_green{
    background-color:#5cb85c;
    color:#000;
}
.day_blue{
    background-color:#006699;
    color:#FFF;
}
.daybtn{
    background-color:#5cb85c;
    color:#FFF;
    font-weight:bold;
    margin:8px;
    padding:8px;
}
.daybtn:hover{
    color:#EEE;
    background-color:#4cb74c;
}